# Ignore Visual Studio build files
*.obj
*.pdb
*.tlog
*.log
*.idb
*.sdf
*.opensdf
*.user
*.suo
*.VC.db
*.ipch
*.exe
*.cache
*.ilk
.vs/

# VS build directories
[Bb]uild*/
x64/
Debug/
Release/

# CMake junk (if any)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Ignore backup files
*~
*.swp
.DS_Store
Thumbs.db